@{
    ViewBag.Title = "display";
}
<div>
    <img src="/photoes/export-map-share.png" alt="map" style="width:100%;height:100%"/>
    <DIV id="positionDiv" style="position:absolute; top:0px; width:100%; height:100%">
        <canvas id="myCanvas" style="border:1px solid black;"></canvas>
    </DIV>
</div>



<script>
    var canvas = document.getElementById("myCanvas");
    var ctx = canvas.getContext("2d");
    var lat = @Session["lat"];
    var lon = @Session["lon"];

    //lat = 50;
    //lon = 100;

    canvas.width = window.innerWidth;
    canvas.height = window.innerHeight;

    ctx.beginPath();
    ctx.arc(lat, lon, 5, 0, 2 * Math.PI);
    ctx.fillStyle = "red";
    ctx.fill();




</script>

