﻿

@{
    ViewBag.Title = "loadAndDisplay";
}

<canvas id="myCanvas" width="800" height="800"
        style="border:none;"></canvas>
<div>
    <img src="/photoes/export-map-share.png" alt="map" style="width:100%;height:100%" />
    <DIV id="positionDiv" style="position:absolute; top:0px; width:100%; height:100%">
        <canvas id="myCanvas"></canvas>
    </DIV>
</div>


<script>
    function createLine(canvasID, startX, startY, endX, endY, width = 3, color = "blue") {
        var myCanvas = document.getElementById(canvasID);
        if (myCanvas && myCanvas.getContext("2d")) {
            var context = myCanvas.getContext("2d");
            context.beginPath();
            context.moveTo(startX, startY);
            context.lineTo(endX, endY);

            context.strokeStyle = color;
            context.lineWidth = width;
            context.stroke();
        }
    }</script>


<script>
    var myCanvas = document.getElementById("myCanvas");
    myCanvas.width = window.innerWidth;
    myCanvas.height = window.innerHeight;
</script>
<script>
    var time = @Session["time"] * 1000;
    var newX= Number;
    var newY= Number;

    try {
         createLineWithTime = (function () {
            $.post( "@Url.Action("GetCourse")").done(function (xml) {
                    var xmlDoc = $.parseXML( xml ),
                    $xml = $( xmlDoc ),

                    rudder = $xml.find("rudder").Number();
                    throttle = $xml.find("throttle").Number();

                    var curX = newX;
                    var curY = newY;
                    var addToX = 1 - Math.abs(rudder);
                    var addToY = -1 * rudder;
                    newX = curX + (addToX * time * throttle);
                    newY = curX + (addToY * time * throttle);
                    createLine("myCanvas", curX, curY, newX, newY, 2, "blue");
            });
            newX = @Session["lon"];
            newY = @Session["lat"];
            setInterval(createLineWithTime, time);
        });

    } catch (error) {
        console.error(error);
        print("there was a problem");
    }
</script>

